body, html {

    margin: 0;
    padding: 0;
    background-color: black;
    scroll-behavior: smooth;

}

body {

    font-family: "Antonio", sans-serif;

}

.header {
  position: sticky;
  top: 0;
  padding: 10px 16px;
  background: #000000;
  color: #f1f1f1;
  z-index: 1000;
  padding: 0;
  

}

.content {

    display: flex;
  justify-content: space-between;
  align-items: center;
    max-width: 1400px;
    margin: 0 auto;

}

.header img {

    width: 150.364px;
    height: 80px;
    flex-shrink: 0;
    aspect-ratio: 150.36/80.00;

}

.nav-list {
  list-style: none;
  display: flex;
  gap: 30px;
}

.nav-list a {
  text-decoration: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.top-section-background {

    background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.30) 100%), url(./Images/Spider.jpg) lightgray 50% / cover no-repeat;
    max-width: 100%;
    height: 900px;

}

.top-section {
 
    color: rgb(255, 255, 255);
    padding-left: 24px;
    padding-right: 24px;
    padding-top: 400px;
    max-width: 1400px;
    margin: auto;
    
}


.top-section h1 {

    color: #FFF;
    font-family: Antonio;
    font-size: 4rem;
    line-height: 100%;
    margin-top: 0;

}

.top-section h2 {

    color: #ffffff;
    font-family: Koulen;
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: 0;

}

.top-section p {

    max-width: 700px;
    color: #FFF;
    font-family: Roboto;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 24px;
    
}

.first-section {

    color: aliceblue;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1290px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 90px;
    padding-bottom: 90px;


}

.square-left {

    display: grid;
    grid-template-columns: 1fr 1fr;

}

.square {

    background-color: #1C1C1C;
    width: 310px;
    height: 620px;
    align-self: center;

}

.square h1 {
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 60;
    margin-bottom: 60px;
    position: relative;

    color: #FFF;

    font-family: Antonio;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.square h2 {
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 0;
    position: absolute;

    color: #FFF;

    font-family: Koulen;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.square p {
    position: absolute;
    max-width: 614px;
    padding-left: 24px;
    padding-right: 24px;

    color: #FFF;

    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.square-rectangle h1 {
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 120;
    margin-left: 230;
    position: absolute;

    color: #FFF;

    text-align: right;
    font-family: Antonio;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;

}
.square-rectangle h2 {
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 60;
    margin-left: 450;
    position: absolute;

    color: #ffffff;

    text-align: right;
    font-family: Koulen;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    white-space: nowrap;
}
.square-rectangle p {
    position: absolute;
    width: 614px;
    margin-top: 280;
    padding-left: 24px;
    padding-right: 24px;

    color: #FFF;

    text-align: right;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.square-rectangle {

    background-color: #414040;
    width: 360px;;
    height: 720px;

}

.square-image {

    background-color: #F43636;
    background: url(./Images/gramofon.jpg) lightgray 50% / cover no-repeat;   
    width: 620px;
    height: 620px;
    justify-content: space-between;

}

.square-image-2 {

    background-color: #F43636;
    background: url(./Images/gramofon\ no\ textures.jpg) lightgray 50% / cover no-repeat;   
    width: 620px;
    height: 620px;
    justify-content: space-between;

}

.square p {

     font-family: Roboto;

}

.second-section {

    color: aliceblue;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1290px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 90px;
    padding-bottom: 90px;

}

.third-section-background {

    margin-top: 100px;  
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.00) 0%, rgba(0, 0, 0, 0.77) 100%), url(./Images/Boat.jpg) lightgray 50% / cover no-repeat;
    width: 100%;
    height: 900px;

}

.third-section {

    padding-top: 150px;
    padding-left: 24px;
    padding-right: 24px;

}

.third-section h1 {

    font-family: Antonio;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.third-section h2 {

    font-family: Koulen;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.third-section p {

    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.three-columns {

    padding-top: 120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    max-width: 1290px;
    margin: 0 auto;
}

.our-btn {
    font-family: "Poppins", Arial, sans-serif;
    background-color: #F43636;
    color: white;
    text-decoration: none;

    width: 150px;
    height: 56px;
    display: inline-flex;
    justify-content: center;
    align-items: center;

    border-radius: 1000px;
    font-size: 16px;
    border: none;
    cursor: pointer;

    transition: background-color 0.3s ease, transform 0.2s ease;
}

.our-btn:hover {
    background-color: #d32f2f;  /* ciemniejszy czerwony */
    transform: scale(1.05);     /* delikatne powiększenie */
}

.our-btn-outline:hover {

    background-color: #000000;  /* ciemniejszy czerwony */
    outline: 2px solid #F43636;
    transform: scale(1.05);     /* delikatne powiększenie */
    color: #F43636;

}

.our-btn-outline {

    background-color: transparent;
    outline: 2px solid white;

}

.utility-mr {

    margin-right: 40px;

}

.highlight-red {

    color: #F43636;

}

.two-columns {

    display: grid;
    grid-template-columns: 80px 100px;
    white-space: nowrap;

}

.cube {

    height: 64px;
    width: 64px;
    background-color: #F43636;
    border-radius: 12px;
}
.cube h1 {

    padding-left: 20px;

}

.fourth-section {

    color: #FFF;
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    height: 900px;

    
}

.fourth-section h2 {

    padding-top: 60px;
    margin-bottom: 0;
    color: #FFF;
    font-family: Koulen;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 0;

}

.fourth-section h1 {

    color: #FFF;
    font-family: Antonio;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;
    
}

.fourth-section h3 {

    margin-top: 100px;
    margin-bottom: 5px;
    padding-left: 35px;
}

.column-background {
  background-color: #222222;
  border-radius: 12px;
  max-width: 400px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  height: auto; /* ← LUB PO PROSTU POMIŃ TEN ATRYBUT */
  
}



.zaawansowany {

    background-color: #F43636;
    color: #FFF;

}



.column-background h1 {
    color: #FFF;
    font-family: Antonio;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;

}

.column-background h2 {

    color: #F43636;
    font-family: Antonio;
    font-size: 24px;
    font-style: normal;
    margin: 0;
    padding-top: 0;

}

.column-background h3 {

    color: #FFF;
    font-family: Antonio;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-left: 0;

}

.zaawansowany h2 {

    padding-top: 0;
    color: #FFF;

}

.column-background ul {

    color: #FFF;
    font-family: Antonio;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 2normal;

}

.column-background li {

    margin-bottom: 20;

}

.buttons {
    white-space: nowrap;

}

.column-background a {
    margin: 10px;
    margin-bottom: auto;
}

.no-padding-top {

 padding-top: 0;

}

.sixth-section {
    margin-top: 0px;
    margin-bottom: 88px;
    color: #FFF;
    max-width: 1400px;
    margin: 0 auto;
    padding-left: 24px;
    padding-right: 24px;
    height: 900px;

}

.sixth-section h2 {

    padding-top: 50px;
    margin: 0;
    color: #FFF;
    font-family: Koulen;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.sixth-section h1 {

    color: #FFF;
    font-family: Antonio;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 0;
    margin-bottom: 0;

}

.three-socials {
  padding-top: 50px;
  margin: 0 auto;
  max-width: 1000px;
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.three-socials > div {
  display: flex;
  flex-direction: column;
  align-items: center; /* centrowanie w poziomie */
}

.social {
  margin-top: 20px;
  margin-left: 0; /* usuń przesunięcie */
}

.seventh-section-background {
    background-color: #222222;
    width: 100vw;
}

.seventh-section {
    max-width: 1400px;
    margin: 0 auto;
    margin-top: 50px;
    padding-top: 24px;
    padding-bottom: 24px;
}

.seventh-section h1 {

    color: #FFF;
    font-family: Antonio;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.seventh-section h2 {

    color: #FFF;
    font-family: Antonio;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.seventh-section p {

    color: #FFF;
    font-family: Antonio;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.row {
    margin: auto;
    max-width: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 290px 290px;
  max-width: 1240px;
  margin: auto;
  grid-gap: 20px;
}

.img-bottom {

  grid-column: 1 / span 2; /* zajmuje całą szerokość */
}

.img1 {background: url(./Images/Headphones\ better.jpg) lightgray 50% / cover no-repeat;}
.img2 {background: url(./Images/Headphones\ wireframe.jpg) lightgray 50% / cover no-repeat;}
.img3 {background: url(./Images/Headphones\ white\ wireframe.jpg) lightgray 50% / cover no-repeat;}
.img4 {background: url(./Images/Tropical\ Perfumes\ NOIR\ 1.jpg) lightgray 50% / cover no-repeat;}
.img5 {background: url(./Images/Tropical\ Perfumes\ NOIR\ 2.jpg) lightgray 50% / cover no-repeat;}
.img6 {background: url(./Images/Tropical\ Perfumes\ NOIR\ 3.jpg) lightgray 50% / cover no-repeat;}
.img7 {background: url(./Images/CLARESA2.png) lightgray 50% / cover no-repeat;}
.img8 {background: url(./Images/CLARESA.png) lightgray 50% / cover no-repeat;}
.img9 {background: url(./Images/CLARESA3.png) lightgray 50% / cover no-repeat;}



.test-block {
    margin: auto;
    background-color: #717171;
    width: 400px;
    height: 600px
}

.test-block2 {
    background-color: #717171;
    width: 200px;
    height: 50px
}

* {box-sizing: border-box}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    padding-top: 20px;
  max-width: 1400px;
  height: 600px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: #F43636;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 20px 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #F43636;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

.img-magnifier-container {
  position:relative;
}

.img-magnifier-glass {
  position: absolute;
  border: 3px solid #000;
  border-radius: 50%;
  /*Set the size of the magnifier glass:*/
  width: 100px;
  height: 100px;
  opacity: 1;
}

.myimage {
  position: relative;
  overflow: hidden; /* zabezpieczenie */
  cursor: none;

}